
/* Header/Logo Title */
.header {
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px;
    text-align: center;
    color: #000;
    font-size: 30px;
    height: 600px;
  }
  h1{
    font-size: 100px;
  }
  
  /* Page Content */
  .content {padding:20px;}

  p{
    color: black;
    font-size: 50px;
  }