<h1 class="text-uppercase text-center">présentation de notre application</h1>
<div class="row p-5">
    <div class="col-5">
        <img src="../../../../assets/rapport3.jpg" style=" width: 700px; height: 400px;">
    </div>

    <div class="col-7 ">
        <p class="">L’objectif de ce projet est de faciliter la saisie des différents rapports quotidiens
            À ce jour, certaines structures continuent de saisir les rapports quotidiens physiquement via Microsoft office (Word), et souvent y’a un gros problème pour la suivie de ces différents rapports!
        </p>
    </div>
  </div>