
        <div class="header">
            <a href="#default" class="logo">CompanyLogo</a>
            <div class="header-right">
                <a class="home" routerLink="/"><i class="fa fa-fw fa-home"></i>Home</a>
                <a class="home" href="#home"><i class="fa fa-fw fa-envelope"></i>Contact</a>
                <a routerLink="/register-user"><i class="fa fa-fw fa-user"></i>Register</a>
                <a routerLink="/login-user"><i class="fa fa-key icon"></i>Connexion</a>
            </div>
        </div>