
<app-navbar-user></app-navbar-user>
    <div class="main-container">
        <div class="navcontainer">
            <app-sidebar-user></app-sidebar-user>
        </div>
        <div class="container"><br><br><br><br>

            <div class="container-fluid">
                <h2 class="text-center mt-5 mb-3"></h2>
                <div class="card">
                    <!-- <div class="card-header">
                        <a class="btn btn-outline-primary" href="{{ path('app_register') }}"> 
                            Create New Project 
                        </a>
                    </div> -->
            
                    <div class="report-header">
                        <h1 class="recent-Articles">Liste Des Rapports</h1>
                        <a routerLink="/create-rapport"><button class="view">Create New User</button></a> 
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Titre Rapport</th>
                                <th>Date Rapport</th>
                                <th>Contenu Rapport</th>
                                <!-- <th>Email</th>
                                <th>Contact</th> -->
                                <th width="330px">Action</th>
                            </tr>
                            <!-- {% for user in projects %} -->
                            <tr *ngFor="let rapport of rapports; let i = index;">
                                <td>{{ rapport.titre_rapport }}</td>
                                <td>{{ rapport.rapport_date |date:'fullDate' }}</td>
                                <td>{{ rapport.texte_rapport }}</td>
                                <td>
                                        <a class="btn btn-outline-info" style="width: 100px;" type="button" routerLink="/view-rapport/{{rapport.id}}">Show</a>
                                        <a class="btn btn-outline-success" style="width: 100px;" type="button" routerLink="/edit-rapport/{{rapport.id}}">Edit</a>
                                        <button type="button" style="width: 100px;" (click)="deleteRapport(rapport.id)" class="btn btn-outline-danger"  >Delete</button>
                                </td>
                            </tr>
                            <!-- {% endfor %} -->
            
                        </table>
                    </div>
                </div>
            </div>
        </div>
       
    </div>


    
